<p id="notice"><%= notice %></p>

<h1>Poos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poos.each do |poo| %>
      <tr>
        <td><%= poo.name %></td>
        <td><%= link_to 'Show', poo %></td>
        <td><%= link_to 'Edit', edit_poo_path(poo) %></td>
        <td><%= link_to 'Destroy', poo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poo', new_poo_path %>
